[submodule "pack/plugins/start/ctrlp.vim"]
	path = pack/plugins/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "pack/plugins/start/vim-buftabline"]
	path = pack/plugins/start/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule "pack/plugins/start/rust.vim"]
	path = pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/plugins/start/async.vim"]
	path = pack/plugins/start/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "pack/plugins/start/vim-lsp"]
	path = pack/plugins/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "pack/plugins/start/vimcompletesme"]
	path = pack/plugins/start/vimcompletesme
	url = https://github.com/ajh17/vimcompletesme
[submodule "pack/plugins/start/vim-bitbake"]
	path = pack/plugins/start/vim-bitbake
	url = https://github.com/kergoth/vim-bitbake
[submodule "pack/plugins/start/vim-nix"]
	path = pack/plugins/start/vim-nix
	url = https://github.com/LnL7/vim-nix
[submodule "pack/plugins/start/rainbow_parentheses.vim"]
	path = pack/plugins/start/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
