[submodule "pack/plugins/start/ctrlp.vim"]
	path = pack/plugins/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "pack/plugins/start/vim-buftabline"]
	path = pack/plugins/start/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule "pack/plugins/start/rust.vim"]
	path = pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/plugins/start/async.vim"]
	path = pack/plugins/start/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "pack/plugins/start/vim-lsp"]
	path = pack/plugins/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "pack/plugins/start/vim-bitbake"]
	path = pack/plugins/start/vim-bitbake
	url = https://github.com/kergoth/vim-bitbake
[submodule "pack/plugins/start/vim-nix"]
	path = pack/plugins/start/vim-nix
	url = https://github.com/LnL7/vim-nix
[submodule "pack/plugins/start/rainbow_parentheses.vim"]
	path = pack/plugins/start/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "pack/plugins/start/zig.vim"]
	path = pack/plugins/start/zig.vim
	url = https://github.com/ziglang/zig.vim
[submodule "pack/plugins/start/haskell-vim"]
	path = pack/plugins/start/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim
[submodule "pack/plugins/start/ultisnips"]
	path = pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/plugins/start/vim-lsp-snippets"]
	path = pack/plugins/start/vim-lsp-snippets
	url = https://github.com/thomasfaingnaert/vim-lsp-snippets
[submodule "pack/plugins/start/vim-lsp-ultisnips"]
	path = pack/plugins/start/vim-lsp-ultisnips
	url = https://github.com/thomasfaingnaert/vim-lsp-ultisnips
[submodule "pack/plugins/start/asyncomplete.vim"]
	path = pack/plugins/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "pack/plugins/start/asyncomplete-lsp.vim"]
	path = pack/plugins/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
